{% extends "main.html.twig" %}

{% block title %}{{ 'groups.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">{{ 'groups.label'|trans }}</div>
        <div class="list-group list-group-flush">
            {% for group in groups %}
                <a href="{{ path('show_group', { uuid: group.uuid }) }}" class="list-group-item">{{ group.name }}</a></li>
            {% endfor %}
        </div>
    </div>
{% endblock %}