{% extends "main.html.twig" %}

{% block title %}{{ 'groups.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('groups') }}">{{ 'groups.label'|trans }}</a> </li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">{{ group.name }}</div>

                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered card-table">
                            <colgroup>
                                <col />
                                <col class="column-lg" />
                            </colgroup>

                            <thead>
                            <tr>
                                <th>{{ 'label.name'|trans }}</th>
                                <th>{{ 'label.email'|trans }}</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for user in group.members %}
                                <tr>
                                    <td>{{ user|user }}</td>
                                    <td>
                                        <a href="mailto:{{ user.lastname}}, {{ user.firstname }} <{{ user.email }}>"><i class="fas fa-envelope"></i> {{ user.email }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <a href="mailto: {% for user in group.members %}{{ user.lastname }}, {{ user.firstname }} <{{ user.email }}>{% if not loop.last %}; {% endif %}{% endfor %}" class="list-group-item list-group-item-action">
                            <i class="fas fa-mail-bulk"> </i> {{ 'groups.mail'|trans }}
                        </a>

                        {% if is_granted('edit', group) %}
                            <a href="{{ path('edit_group', { uuid group.uuid }) }}" class="list-group-item list-group-item-action">
                                <i class="fas fa-edit"> </i> {{ 'manage_groups.edit.label'|trans }}
                            </a>
                        {% endif %}

                        {% if is_granted('remove', group) %}
                            <a href="{{ path('remove_group', { uuid: group.uuid }) }}" class="list-group-item list-group-item-danger">
                                <i class="fas fa-edit"> </i> {{ 'manage_groups.remove.label'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}