<!DOCTYPE html>
<html>
    <body style="font: normal 90% 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, 'Lucida Grande', sans-serif; color: #333;">
        <article>
            {{ 'greeting'|trans({'%firstname%': user.firstname, '%lastname%': user.lastname}, 'mail') }}
        </article>
        <article style="margin: 15px 0px;">
            {% if isGlobalMessage %}
                {{ 'message.global.info'|trans({'%firstname%': message.createdBy.firstname, '%lastname%': message.createdBy.lastname }, 'mail') }}
            {% else %}
                {{ 'message.group.info'|trans({'%firstname%': message.createdBy.firstname, '%lastname%': message.createdBy.lastname, '%group%': group.name }, 'mail') }}
            {% endif %}

            <blockquote style="padding: 10px 20px; margin: 0 0 20px; font-size: 17.5px; border-left: 5px solid #eee;">
                {{ message.content }}
            </blockquote>
        </article>
        <article style="margin: 15px 0px;">
            {{ 'farewell'|trans({}, 'mail') }}
        </article>
    </body>
</html>