{% extends "main.html.twig" %}

{% block title %}{{ 'event.comments.remove.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('events') }}">{{ 'events.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('show_event', { uuid: event.uuid }) }}">{{ event.name }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}

    {{ form_start(form) }}

    <div class="contentbox">
        <h4>{{ 'actions.confirm_remove'|trans }}</h4>

        {{ form_widget(form) }}
    </div>

    <div class="buttons">
        <button type="submit" class="btn btn-sm btn-danger">
            <i class="fas fa-trash"></i> {{ 'actions.remove'|trans }}
        </button>

        <a href="{{ path('show_event', { uuid: event.uuid }) }}" class="btn btn-sm btn-secondary">
            {{ 'actions.cancel'|trans }}
        </a>
    </div>

    {{ form_end(form) }}
{% endblock %}