{% extends "main.html.twig" %}

{% block title %}{{ event.name }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('events') }}">{{ 'events.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9 pl-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ event.name }}</h5>
                    <h6 class="card-subtitle mb-3">{{ event.createdBy|user }}</h6>

                    <p class="card-text">{{ event.description }}</p>
                </div>
            </div>

            <div class="card">
                <div class="card-header">{{ 'event.participants'|trans({ '%accepted%': accepted, '%count%': participants|length}) }}</div>

                <table class="table table-striped table-hover">
                    <colgroup>
                        <col />
                        <col class="column-lg" />
                        <col class="column-lg" />
                    </colgroup>

                    <thead>
                    <tr>
                        <th>{{ 'label.name'|trans }}</th>
                        <th>{{ 'label.status'|trans }}</th>
                        <th>{{ 'label.changed_at'|trans }}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for participant in participants %}
                        <tr>
                            <td><a href="{{ path('show_user', { id: participant.user.id }) }}">{{ participant.user|user }}</a></td>
                            <td>
                                {% if participant.user.id == app.user.id %}
                                    {% include 'includes/change_status.html.twig' with { event: event, csrfToken: csrfToken, status: participant.status } only %}
                                {% else %}
                                    {{ participant.status|status }}
                                {% endif %}
                            </td>
                            <td>
                                {% if participant.lastChange != null %}
                                    {{ participant.lastChange|shortdate }}
                                {% else %}
                                    {{ 'label.never'|trans }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <ul class="timeline">
                {% for comment in event.comments %}
                    <li>
                        <time class="time" datetime="{{ comment.createdAt|format_w3c }}" title="{{ comment.createdAt|format_datetime }}">
                            <span>{{ comment.createdAt|date('date.time'|trans) }}</span>
                            <span>{{ comment.createdAt|moment(false) }}</span>
                        </time>

                        <div class="icon">
                            <i class="fas fa-comment"></i>
                        </div>

                        <div class="label card p-0">
                            <div class="card-header">
                                {{ 'event.comments.head'|trans({ '%user%': comment.createdBy|user }) }}
                            </div>

                            <div class="card-body">
                                {{ comment.content }}
                            </div>

                            {% if is_granted('remove', comment) %}
                                <div class="card-footer">
                                    <a href="{{ path('remove_comment', { eventId: event.id, id: comment.id }) }}" class="btn btn-sm btn-danger">
                                        <i class="fas fa-trash"></i> {{ 'actions.remove'|trans }}
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}

                <li>
                    <time class="time d-none d-sm-block">
                        <span>{{ 'now'|trans }}</span>
                    </time>

                    <div class="icon d-none d-sm-block">
                        <i class="fas fa-comment"></i>
                    </div>

                    <div class="label card p-0">
                        {{ form_start(form) }}

                        <div class="card-body">
                            {{ form_widget(form.content) }}
                        </div>

                        <div class="card-footer">
                            <button class="btn btn-secondary btn-sm">
                                <i class="fas fa-send"></i> {{ 'actions.add'|trans }}
                            </button>
                        </div>

                        {{ form_end(form) }}
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-md-3 pr-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ 'label.date_time'|trans }}</h5>

                    <p class="card-text">{{ event.start|shortdate }} - {{ event.end|shortdate }}</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ 'label.location'|trans }}</h5>

                    <p class="card-text">{{ event.location }}</p>
                </div>
            </div>

            {% if event.files.count > 0 %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'label.files'|trans }}</h5>

                        <ul class="list-unstyled m-0">
                            {% for file in event.files %}
                                <li><i class="fas fa-file"></i> <a href="{{ path('download_file', { eventId: event.id, id: file.id, filename: file.originalFilename }) }}">{{ file.originalFilename }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            {% endif %}

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ 'label.groups'|trans }}</h5>

                    <ul class="list-unstyled m-0">
                        {% for group in event.groups %}
                            <li><a href="{{ path('show_group', { id: group.id }) }}">{{ group.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% if is_granted('edit', event) %}
        <a href="{{ path('edit_event', { id: event.id }) }}" class="btn btn-primary btn-sm">
            <i class="fas fa-edit"></i> {{ 'actions.edit'|trans }}
        </a>
    {% endif %}
    {% if is_granted('remove', event) %}
        <a href="{{ path('remove_event', { id: event.id }) }}" class="btn btn-danger btn-sm">
            <i class="fas fa-trash"></i> {{ 'actions.remove'|trans }}
        </a>
    {% endif %}
{% endblock %}